{% extends 'layout.html.twig' %}

{% set title = 'Reset your password'|trans %}
{% block title %}{{ title }}{% endblock %}

{% block main %}
    <section>
        <div class="container">
            {% include 'common/_alert_error.html.twig' %}
            <h1 class="form-title">{{ title }}</h1>
            {{ form_start(requestForm) }}
            <div class="form-group">
                <label for="email"><i class="zmdi zmdi-email"></i></label>
                {{ form_widget(requestForm.email, {'attr': {'placeholder': 'Your Email'|trans([], 'security')}}) }}
                <small>
                    Enter your email address and we will send you a
                    link to reset your password.
                </small>
            </div>
            <button class="btn btn-primary">Send password reset email</button>
            {{ form_end(requestForm) }}
        </div>
    </section>
{% endblock %}


