{% extends 'app.html.twig' %}

{% block title %}Importer les documents{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('add-document') }}
 {% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div id="import-document">
                        <dropzone :dropzone-options="dropzoneOptions"
                                  :dict-default-message="'{{ 'app.drop_files_here_to_upload'|trans }}'"
                                  :dict-file-too-big-message="'{{ 'app.file_is_to_big'|trans }}'"
                        >
                        </dropzone>
                        <input type="hidden" ref="path" value="'{{ path('app_document_import') }}'">
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="{{ path('app_my_documents') }}">{{ 'app.back_to_list'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
     {{ encore_entry_script_tags('add-document') }}
 {% endblock %}
